@page "/"


    <h3>Upload</h3>
    <div class="mb-3">
        <label for="formFileMultiple" class="form-label">Upload Multiple Files</label>
        <input class="form-control" type="file" id="formFileMultiple" multiple>
    </div>
    <button type="button" class="btn btn-outline-primary">Upload</button>


        @code {

        }

